<div class="container-fluid">
	<div class="row">
		<div class="col-md-7 col-md-offset-3">
			<div class="login-panel panel">
				<div class="panel-heading login">
					<h3 class="panel-title">Pregunta: <%= quiz.question %></h3>
				</div>
				<div class="panel-body login"> 
					<form role="form" method="get" action="/quizzes/<%= quiz.id %>/check">        
						<div class="form-group">
							<% if (quiz.Attachment) { %>
							<img src="<%= quiz.Attachment.url %>" class="img-rounded" width="50px"/>
							<% } else { %>
							<img src="/images/question.png" class="img-circle" width="50px"/>
							<% } %>
						</div>
						<div class="form-group form-inline">
							<input type="text" name="answer" value="<%= answer %>" class="form-control" placeholder="Respuesta" />
							<button type="submit" class="btn btn-md btn-primary">Comprobar</button>
						</div>
					</form>
					<% if (session.user) { %>
						<a href="/quizzes/<%= quiz.id %>/comments/new" type="button" class="btn btn-md btn-primary">Nuevo comentario</a>
					<% } %>
					<a href="/quizzes" type="button" class="btn btn-md btn-primary">Volver</a>

					<% if (quiz.Comments.length !== 0) { %>
						<h3>Comentarios:</h3>
						<ul class="list-group list">
							<% for (var i in quiz.Comments) { 
								var comment = quiz.Comments[i];
								if (comment.accepted) { %>
									<li class="list-group-item list"> <%= comment.text %> - <strong><%= comment.Author.username %></strong> </li>
								<% } else if (session.user && (session.user.isAdmin || quiz.AuthorId === session.user.id)) { %>
								<li class="list-group-item list"> 
									<%= comment.text %> - <strong><%= comment.Author.username %></strong> 
									<a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT"
										class="btn btn-sm btn-primary">Aceptar</a>
								</li>
								<% } %>
							<% } %>
						</ul>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
