<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([['Preguntas', 'Comentarios'],['Preguntas con comentarios', <%= stats.quizzesWithComments %>], ['Preguntas sin comentarios', <%= stats.quizzesWithoutComments %>]]);
		console.log(data)
		var options = {
			title: 'Estadisticas sobre comentarios:',
			pieHole: 0.4,
		};

		var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
		chart.draw(data, options);
	}
</script>
<div class="row">
	<div class="col-md-6">
		<div class="jumbotron login">
			<h2>Estadisticas:</h2>
			<ul class="list-group">
				<li class="list-group-item list">Numero de preguntas: <%=stats.totalQuizzes%></li>
				<li class="list-group-item list">Numero de comentarios: <%=stats.totalComments%></li>
				<li class="list-group-item list">Numero de usuarios: <%=stats.totalUsers%></li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="login" id="donutchart" style="width: 400px; height: 300px;"></div>
	</div>
	
</div>

