<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel">
				<div class="panel-heading login">
					<h3 class="panel-title">Usuario:</h3>
				</div>
				<div class="panel-body login"> 
					<div class="form-group">
						<label>Username: <%= user.username %></label>
					</div>
					<div class="form-group">
						<label>Es Administrador: <%= user.isAdmin ? "Si" : "No" %></label>
					</div>
					<% if (session.user) { %>
						<% if (session.user.isAdmin || session.user.id === user.id) { %>
							<a href="/users/<%= user.id %>/edit" type="button" class="btn btn-sm btn-primary">Editar</a>
						<% } %>
						<% if (session.user.isAdmin && session.user.id !== user.id) { %>
							<a href="/users/<%= user.id %>?_method=DELETE" type="button" class="btn btn-sm btn-primary"
								onClick="return confirm('Borrar cuenta: <%= user.username %>');">Borrar</a>
						<% } %>
					<% } %>
					<a href="/users" type="button" class="btn btn-sm btn-primary">Volver</a>
				</div>
			</div>
		</div>
	</div>
</div>

